<footer id="footer" style="padding: 20px 0 0px;">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer" style="height:50px;overflow:hidden;">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      <a style="color: #888;" href="https://zuobaiquan.github.io/" target="_blank">欢迎访问我的博客哦</a>
    </div>
  </div>
</footer>